body {background-color: darkblue; background-image: url('404.png'); background-repeat: no-repeat; background-size: cover; background-attachment: fixed;}
h1 {color: yellow; text-align:center;  font-family: 'Times New Roman', serif; font-size: 275%}
pre {color: white; display: block; font-family: arial; white-space: pre; margin: 1em 0; text-align:center; font-family: 'Times New Roman', serif; font-size: 275%}
button {text-align:center; margin: 10px 5px; color: #ffffff; background-color: #272f31;
    border: solid #ffffff 2.5px; cursor: pointer; box-shadow: 0 3px #ffffff}
button:active {box-shadow: 0 1px #ffffff; transform: translateY(2px);}