html {cursor: url(SOUL.png),auto}
body {background-color: #000000;}
h1 {color: #ffffff; text-align:center; margin: 25px 100px;}
pre {color: #ffffff; display: block; font-family: arial; white-space: pre; margin: 1em 0; text-align:center;}
button {text-align:center; margin: 10px 5px; color: #ff7f27; background-color: #000000; border: solid #ff7f27 2.5px; cursor: pointer; box-shadow: 0 3px #ff7f27; cursor: url(SOUL.png),auto}
a {color: #ffffff; display: inline; font-family: arial; white-space: pre; margin: 1em 0; text-align:center;}
button:active {box-shadow: 0 1px #ff7f27; transform: translateY(2px);}
.gbacam {position: fixed; top: 50%; left: 50%; margin-top: -150px; margin-left: -300px;}
.OLD_DATA {position: fixed; top: 50%; left: 50%; margin-top: 150px; margin-left: -500px;}
.heisfree {position: fixed; top: 50%; left: 50%; margin-top: -300px; margin-left: -250px;}
.sneo {position: fixed; top: 50%; left: 50%; margin-top: -375px; margin-left: -500px;}
.fight {cursor: url(SOULfight.png),auto}
.run {cursor: url(SOULrun.png),auto}
.stoat {display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
font-size: 100%;
    vertical-align: baseline;
font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,monospace,serif;}
.e-FuQZ6hTS0 {position: fixed; top: 50%; left: 50%; margin-top: -250px; margin-left: -250px;}