body {background-color: darkblue;}
h1 {color: aqua; text-align:center;}
pre {color: aqua; display: block; font-family: arial; white-space: pre; margin: 1em 0; text-align:center;}
button {text-align:center; margin: 10px 5px; color: #00ffff; background-color: #596e21;
    border: solid #f1cc36 2.5px;}