@font-face {
    font-family: DeterminationSans;
    src: url("/skysiteresources/DeterminationSans.ttf") format("truetype");
}

html {cursor: url(SOUL.png),auto;background-color: #000000; image-rendering:-moz-crisp-edges; image-rendering:-o-crisp-edges; image-rendering:-webkit-optimize-contrast; image-rendering:pixelated; -ms-interpolation-mode:nearest-neighbor;}
h1 {color: #ffffff; font-family: "DeterminationSans", arial; text-align:center; margin-top: 0px}
pre {color: #ffffff; display: block; font-family: "DeterminationSans", arial; white-space: pre-line; margin: 1em 0; text-align:center;}
form {color: #ffffff; display: block; font-family: "DeterminationSans", arial; white-space: pre-line; margin: 1em 0; text-align:center;}
details {font-family: "Determination Sans", arial; display: inline}
button {user-select: none; text-align:center; font-family: "DeterminationSans", arial; margin: 10px 5px; color: #ff7f27; background-color: #000000; border: solid #ff7f27 2.5px; cursor: pointer; box-shadow: 0 3px #ff7f27; cursor: url(SOUL.png),auto}
button:active {box-shadow: 0 1px #ff7f27; transform: translateY(2px);}
a {color: #ffffff; display: inline; font-family: "DeterminationSans", arial; white-space: pre-line; margin: 1em 0; text-align:center;}
br {user-select:none;}

#glitch {position: fixed; display: none; width: 100%; height: 100%; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0,0,0,0); z-index: 1; user-select: none; pointer-events: none;}

.blade {cursor: url(blade.png),auto;}

.formfield {outline:none; resize:none; font-family: "DeterminationSans", arial; text-align:center; margin: 10px 5px; color: #ffffff; background-color: #000000; border: solid #ffffff 2.5px;}
.formbutton {text-align:center; font-family: "DeterminationSans", arial; margin: 10px 5px; color: #ffffff; background-color: #000000; border: solid #ffffff 2.5px; cursor: pointer; box-shadow: 0 3px #ffffff;}
.formbutton:active {box-shadow: 0 1px #ffffff; transform: translateY(2px);}

.imagewtext {display: inline-block; text-align: center;}

.gbacam {position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.OLD_DATA {position: fixed; top: 66.6%; right: 66.6%; transform: translate(66.6%, -66.6%);}
.heisfree {position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.sneo {position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.fight {cursor: url(SOULfight.png),auto}
.run {cursor: url(SOULrun.png),auto}
.fouro {cursor: url(SOUL404.png),auto}
.stoat {display: block; list-style-type: decimal; margin-block-start: 1em; margin-block-end: 1em; margin-inline-start: 0px; margin-inline-end: 0px; padding-inline-start: 40px; font-size: 100%; vertical-align: baseline; font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,monospace,serif; white-space: pre;}
.e-FuQZ6hTS0 {position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);}