body {background-color: #000000;}
h1 {color: #ffffff; text-align:center; margin: 25px 100px;}
pre {color: #ffffff; display: block; font-family: arial; white-space: pre; margin: 1em 0; text-align:center;}
button {text-align:center; margin: 10px 5px; color: #ff7f27; background-color: #000000; border: solid #ff7f27 2.5px; cursor: pointer; box-shadow: 0 3px #ff7f27; cursor: url(SOUL.png),auto}
a {color: #ffffff; display: block; font-family: arial; white-space: pre; margin: 1em 0; text-align:center;}
button:active {box-shadow: 0 1px #ff7f27; transform: translateY(2px);}
font-size: 100%;
    vertical-align: baseline;
font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,monospace,serif;}